<html>
<head>
	<title>Login</title>
	<script>
		var getParameter = function( name )
	    {
	        var rtnval = "";
	        var nowAddress = unescape(location.href);
	        var parameters = (nowAddress.slice(nowAddress.indexOf("?")+1,nowAddress.length)).split("&");
	 
	        for(var i = 0 ; i < parameters.length ; i++)
	        {
	            var varName = parameters[i].split("=")[0];
	            if(varName.toUpperCase() == name.toUpperCase())
	            {
	                rtnval = parameters[i].split("=")[1];
	                break;
	            }
	        }
	        return decodeURIComponent(rtnval);
	    }
	</script>
</head>
<body>
	<h1>카카오 로그인</h1>
	<a href="http://gdj16.gudi.kr:20001/web/login">로그인</a>
	<a href="http://www.naver.com"> naver </a><br>
	<label> 
		ID : 
		<span id="id"> </span>
	</label><br>
	<label>
		Nickname : 
		<span id="nickname"> </span>
	</label><br>
	<label>
		Profile Image :
		<img id=profile src=""> 
	</label><br>
	<script>
	var id = getParameter("id")
	var nick = getParameter("nickname")
	var profile = getParameter("profile_image")
		if(id != ""){
			document.getElementById("id").innerHTML = id;
		}
		if(nick != ""){
		document.getElementById("nickname").innerHTML = nick;
		}
		if(profile != ""){
			document.getElementById("nickname").src = profile;
		}
	</script>
</body>
</html>
